<html>
<body>
  <div>
    <div></div>
    <div>
      {%if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">Click Here to Log in</a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}">Disconnect</a>
      {% endif %}
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div>
    <div></div>
    <div>
      <h1>Wildcat Games</h1>
    </div>
  </div>
  <div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <div>
    {% for year in years %}
      <a href = "{{url_for('yearGms', year_id= year.id)}}">
        <h3>{{year.yearmonth}}</h3>
      </a>
    {% endfor %}

</body>
</html>
